@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.compare-main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $pd-color1;
  &__tool-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @include tablet {
      width: 80%;
    }
  }
  &__selected-item-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
    @include tablet {
      width: 80%;
      gap: 2rem;
      justify-content: space-evenly;
    }
    @include desktop {
      padding-right: 10%;
      padding-left: 10%;
    }
  }
  &__selected-item {
    background-color: $pd-color2;
    color: $pd-color1;
    padding: 0.75rem 0.5rem 0.75rem 1rem;
    border-radius: 20px 0 0 0;
    flex-grow: 1;
    border-radius: 10px 0 0 10px;
    box-shadow: inset 1px 1px 5px $pd-color1;
    @include tablet {
      padding-left: 2rem;
    }
  }
  &__selected-item-chosen {
    padding: 0.75rem 2rem 0.75rem 1rem;
    background-color: $sd-color1;
    color: $pd-color1;
    border-radius: 0 20px 0 0;
    flex-grow: 1;
    border-radius: 0 10px 10px 0;
    box-shadow: inset 1px 1px 5px $pd-color1;
    @include tablet {
      padding-left: 2rem;
    }
  }
  &__compare-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    border-radius: 10px;
    box-shadow: inset 2px 2px 4px $pd-color1, inset -1px -1px 4px $pd-color1;
    @include tablet {
      width: 90%;
    }
    @include desktop {
      width: 70%;
    }
  }
  &__details-summary {
    color: $pd-color2;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    width: 90%;
    &--2 {
      margin-top: 0.5rem;
    }
  }
  &__inputs-1,
  &__inputs-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    box-shadow: inset 2px -2px 2px $pd-color1, inset -2px 0px 2px $pd-color1;
  }
  &__inputs-1 {
    margin-bottom: 0.5rem;
  }
  &__inputs-2 {
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
  }
  &__input {
    background-color: $pd-color2-opaque;
    @include search-bar;
    & {
      padding-left: 1rem;
      width: 35%;
      border: 2px solid $pd-color1;
      box-shadow: inset 1px 1px 4px $pd-color1;
    }
    &--icon {
      left: 2%;
      opacity: 0.65;
      width: 1.5rem;
    }
    &--price-1,
    &--price-2 {
      padding-left: 1.8rem;
      width: 100%;
    }
    &--unit-1,
    &--unit-2 {
      max-width: 6rem;
      padding-left: 0.5rem;
      width: 30%;
    }
  }
  &__input-wrapper {
    width: 35%;
    position: relative;
  }
  &__text {
    color: $pd-color2;
    font-size: 1.5rem;
    &--1 {
      width: 100%;
      text-align: center;
    }
  }
  &__button-compare {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    box-shadow: inset -1px -1px 4px $pd-color1,
      inset 4px 2px 5px $pd-color2-opaque;
    @include button($sd-color3, $pd-color2, 2rem);
    & {
      border-radius: 10px;
    }
  }
  &__odometer-container {
    background-color: $pd-color1;
    padding: 1rem 1rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  &__odometer-image {
    width: 90%;
    max-width: 33rem;
    filter: sepia(50%);
  }
  &__odometer-percent {
    position: absolute;
    bottom: 25%;
    width: 60%;
    font-size: clamp(2.2rem, 11vw, 4.5rem);
    text-shadow: 1px 0px 5px $pd-color2;
    filter: sepia(20%);
    text-align: center;
  }
  &__needle {
    height: 35%;
    width: 0.5rem;
    border-radius: 5px;
    background-color: peru;
    position: absolute;
    bottom: 50%;
    transform-origin: 100% 100%;
    box-shadow: 2px 0px 8px $sd-color2-opaque;
  }
  &__needle-base {
    height: 2rem;
    width: 2rem;
    position: absolute;
    background-color: grey;
    border-radius: 100px;
    bottom: 17rem;
    bottom: 47%;
  }
  &__text-market-value {
    color: $pd-color2;
    font-size: 1.2rem;
  }
  &__text-savings {
    color: $pd-color2;
    text-align: center;
  }
  &__list-section {
    background-color: $pd-color1;
    width: 100%;
  }
  &__list-background {
    border-radius: 20px 20px 0 0;
  }
  &__titles {
    background-color: $pd-color1;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    box-shadow: inset 1px 1px 4px $pd-color2;
  }
  &__title {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    color: $pd-color2;
    &--1 {
      width: 40%;
    }
    &--2,
    &--3,
    &--4 {
      width: 20%;
    }
  }
  &__title-image {
    width: 2rem;
  }
  &__list-section {
    @include tablet {
      background-color: $pd-color1-opaque;
      width: 80%;
    }
  }
  &__list {
    border-bottom: 1px solid $pd-color1;
    padding: 0;
  }
  &__list-row {
    display: flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: $pd-color2;
    border-top: 1px solid $pd-color1-opaque;
  }
  &__list-item-container {
    background-color: $pd-color2;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &--1 {
      width: 40%;
      justify-content: flex-start;
    }
    &--2,
    &--3,
    &--4 {
      width: 20%;
    }
  }
  &__list-item {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    text-align: center;
  }
  &__footnote {
    background-color: $sd-color2;
    padding: 1rem;
    text-align: center;
  }
}
