$default-font-stack: arial, sans-serif;

$pd-color1: #121211;
$pd-color1-opaque: #121211c2;
$pd-color2: #f6f3ec;
$pd-color2-opaque: #f6f3ecf5;
$pd-color3: #fefe86;
$pd-color3-opaque: #fefe86e7;
$sd-color1: #9fe661;
$sd-color1-opaque: #9fe661d7;
$sd-color2: #dededeed;
$sd-color2-opaque: #dedede82;
$sd-color3: #a82a13;
$sd-color4: rgb(84, 178, 212);

$min-width: 320px;
$max-width: 1920px;
$tablet: 768px;
$desktop: 1280px;
