$default-font-stack: arial, sans-serif;

$pd-color1: #121211;
$pd-color2: #f6f3ec;
$pd-color3: #d4a518;
$sd-color1: #556b2f;
$sd-color2: #6b6d76;
$sd-color3: #a82a13;

$min-width: 320px;
$max-width: 1920px;
$tablet: 768px;
$desktop: 1280px;
