@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.compare-header {
  color: $pd-color2;
  border-bottom: 4px solid $pd-color3;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
  overflow: hidden;
  &__background-image {
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  &__overlay {
    background-color: $pd-color1;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
  }
  &__container-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  &__title {
    text-align: center;
    padding-top: 0.5rem;
  }
  &__subtitle {
    text-align: center;
  }
  &__wrapper-icon {
    padding-left: 0.5rem;
  }
  &__wrapper-list {
    padding-right: 0.5rem;
  }
  &__icon-left {
    width: 2.7rem;
    padding: 0;
    margin-bottom: -0.5rem;
  }
  &__list-link {
    text-decoration: none;
  }
  &__icon-text {
    text-align: right;
    max-width: 2.7rem;
    color: white;
  }
  &__icon-right {
    width: 2rem;
    padding-top: 0.5rem;
  }
  &__search-container {
    width: 66%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
  }
  &__search-bar {
    width: 100%;
    @include search-bar;
  }
}
