@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.compare-header {
  color: $pd-color2;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
  padding-bottom: 0.5rem;
  background-color: $pd-color1;
  &__container-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    @include desktop {
      width: 80%;
    }
  }
  &__title {
    text-align: center;
    padding-top: 1rem;
    text-shadow: 0px 0px 3px $pd-color3;
  }
  &__sub-title {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 100;
  }
  &__wrapper-icon {
    padding-left: 0.5rem;
  }
  &__wrapper-list {
    padding-right: 0.5rem;
  }
  &__icon-left {
    width: 2.7rem;
    padding: 0;
    margin-bottom: -0.5rem;
  }
  &__list-link {
    text-decoration: none;
  }
  &__icon-text {
    text-align: right;
    max-width: 2.7rem;
    color: white;
  }
  &__icon-right {
    width: 2rem;
    padding-top: 0.5rem;
  }
  &__form {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  &__search-container {
    width: 66%;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    position: relative;
  }
  &__search-bar {
    width: 100%;
    @include search-bar;
    & {
      padding-left: 2.7rem;
    }
    &--icon {
      top: 45%;
    }
    &--invalid {
      border: 1px solid red;
    }
  }
  &__search-bar-info {
    position: absolute;
    padding-left: 1rem;
    color: rgb(243, 154, 154);
    width: 145%;
    font-size: 0.9rem;
    padding-top: 0.1rem;
  }
  &__button {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    margin-left: 2%;
    box-shadow: inset -1px -1px 4px $pd-color1,
      inset 4px 2px 5px $pd-color2-opaque;
    @include button($pd-color3, $pd-color1, 1.5rem);
  }
  &__search-items-list {
    background-color: $pd-color2-opaque;
    color: $pd-color1;
    position: absolute;
    z-index: 1;
    width: 90%;
    left: 5%;
    list-style-type: none;
    padding: 0;
  }
  &__search-item {
    padding: 0.5rem;
    cursor: pointer;
    &:hover {
      background-color: $pd-color2;
    }
  }
}
