@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.grocery-list-page {
  position: relative;
  background-color: $pd-color1;
  min-height: 100vh;
  height: 100%;
}
